<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gramin_Bazzar_marketplace_for_rural_Nepal_</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gramin_Bazzar_marketplace_for_rural_Nepal_.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-md">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Gramin Bazzar</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="CreateProductGM" asp-action="Create">Add New Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="ProductGM" asp-action="List">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Category" asp-action="Index">Categories</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="moreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="moreDropdown">
                                <li><a class="dropdown-item" asp-controller="ProductGM" asp-action="List">LIst Of Products</a></li>
                                <li><a class="dropdown-item" asp-controller="Contact" asp-action="Index">Contact</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container">
            &copy; 2025 - Gramin_Bazzar_marketplace_for_rural_Nepal_ -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
              $(document).ready(function () {
            $("#district").prop("disabled", true);
            $("#state").change(function () {
                var id = $("#state").val();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("GetDistrict", "CreateProductGM")',
                    data: { "id": id },
                    success: function (json, textStatus) {
                        $("#district").empty();
                        json = json || {};
                        for (var i = 0; i < json.length; i++) {
                            $("#district").append('<option value="' + json[i].distId + '">' + json[i].distName + '</option>');
                        }
                        $("#district").prop("disabled", false);
                    },
                    error: function () {
                        alert("Data Not Found");
                    }
                });
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
