@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GRAMIN BAZZAR</h1>
    <p>
        Gramin Bazzar is an e-commerce platform designed to empower rural communities in
        Nepal by connecting local producers, farmers, and artisans directly with consumers. The platform facilitates
        the online sale of agricultural goods, handicrafts, and local products, promoting
        rural entrepreneurship and improving market access. It supports features such as 
        product listings, secure
        transactions, and user-friendly navigation tailored to users with limited digital 
        exposure.

    </p>
</div>
