@model Product
@{
    ViewData["Title"] = "Add";
}
<form enctype="multipart/form-data" method="post" class="p-4 border rounded shadow-sm bg-light">

    <div class="row mb-3">
        <div class="col-md-4 text-center">
            <div class="border p-3 rounded bg-white">
                <img asp-for="PreviewImage" src="~/images/placeholder.png" alt="Product Image" class="img-fluid mb-2" style="max-height: 200px;" />
                <div class="mt-2">
                    <input type="file" class="form-control" name="ImageFile" accept="image/*" onchange="previewImage(event)" />
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="mb-3">
                <label asp-for="ProductId" class="form-label"></label>
                <input type="number" class="form-control" asp-for="ProductId" required />
            </div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Name"  required />
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea class="form-control" asp-for="Description"  rows="3" required></textarea>
            </div>

            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input type="number" step="0.01" class="form-control" asp-for="Price"  required />
            </div>

            <div class="mb-3">
                <label asp-for="StockQuantity" class="form-label"></label>
                <input type="numbers" class="form-control" asp-for="StockQuantity"  required />
            </div>

            <div class="mb-3">
                <label asp-for="Category" class="form-label">C</label>
                <select class="form-select" asp-for="Category" name="Category" required>
                    <option selected disabled>Select a category</option>
                    <option value="Millets">Millets</option>
                    <option value="Fruits">Fruits</option>
                    <option value="Herbs">Medicinal Herbs</option>
                    <option value="Handicrafts">Handicrafts</option>
                    <option value="Honey">Local Honey</option>
                    <option value="Vegetables">Organic Vegetables</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
